<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".debug.TaskMailDebugActivity"
            android:exported="true"
            android:label="TaskMail Debug"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="taskmail"
                    android:scheme="app" />
            </intent-filter>
        </activity>

        <provider
            android:name=".debug.TaskMailDebugFileProvider"
            android:authorities="${applicationId}.taskmail.debug.files"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/taskmail_debug_file_provider_paths" />
        </provider>
    </application>

</manifest>
